.featurette {
  padding: 5rem 0;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-box {
  background-color: #f9f9f9;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  width: 30%;
}
